<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../styles/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,600&family=Hahmlet:wght@600&family=Space+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="aboutme.html">About Me</a></li>
                    <li><a href="contact.html">Contact Me</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </div>
        </nav>

        <section class="container">
            <div class="child">
                <h1>Hi, I'm Sai Venkat</h1>
                <h4>A web and software developer based in India.</h4>
            </div>
        </section>
    </div>
</body>
</html>