body {
    padding:0;
    margin:0
}

.wrapper {
    display: flex;
}

nav {
    flex: 0 0 10%;
    background: midnightblue;
}

.nav-wrapper {
    position: fixed;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav-wrapper ul {
    list-style: none;
    height: 100%;
    align-items: center;
    padding-left: 0;
}

.nav-wrapper ul li {
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.nav-wrapper ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-wrapper ul li a:hover {
     background: skyblue;
     padding: 1em;
     color: black;
     font-weight: bold;
}

.container {
    //display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('images/bg2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.child {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 0em;
}

.blocks {
    color: white;
    background: midnightblue;
    padding: 2em;
    margin-right: 5em;
    display: inline-block;
    border-radius: 50px;
}

.child a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 20px;
}

.child a:hover {
    background: skyblue;
    border-radius: 40px;
}

.blocks a img {
    height: 5em;
    width: 5em;
}

h1 {
    font-family: "Andada Pro", serif;
    padding: 0;
    font-size: 100px;
    text-align: center;
}

.active {
    font-style: italic;
    color: red !important;
}

@media screen and (max-width: 1300px) {
    nav {
        flex: 0 0 27%;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
    }
}