body {
    padding:0;
    margin:0;
    background-image: url('../images/bg2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

nav {
    flex: 0 0 10%;
    background: midnightblue;
}

.nav-wrapper {
    position: fixed;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav-wrapper ul {
    list-style: none;
    height: 100%;
    align-items: center;
    padding-left: 0;
}

.nav-wrapper ul li {
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.nav-wrapper ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-wrapper ul li a:hover {
     background: skyblue;
     padding: 1em;
     color: black;
     font-weight: bold;
}

h1 {
    font-family: "Andada Pro", serif;
    font-size: 80px;
    text-align: center;
    flex: 0 0 100%;
}

.active {
    font-style: italic;
    color: red !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child {
    padding: 1em;
    border: 0.5em solid midnightblue;
    margin: 4px;
}

.child img {
    width: 25em;
    height: 25em;
}

.child img:hover {
    transform: scale(1);
    border: 0.5em solid gold;
}

@media screen and (max-width: 1300px) {
    nav {
        flex: 0 0 27%;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
    }
}