body {
    padding:0;
    margin:0
}

.wrapper {
    display: flex;
}

nav {
    flex: 0 0 10%;
    background: midnightblue;
}

.nav-wrapper {
    position: fixed;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav-wrapper ul {
    list-style: none;
    height: 100%;
    align-items: center;
    padding-left: 0;
}

.nav-wrapper ul li {
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.nav-wrapper ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-wrapper ul li a:hover {
     background: skyblue;
     padding: 1em;
     color: black;
     font-weight: bold;
}

h1 {
    font-family: "Andada Pro", serif;
    padding: 0;
    font-size: 100px;
    text-align: center;
}

.container {
    background-image: url('../images/bg2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.images li {
    height: 40vh;
    flex-grow: 1;
    padding: 1em;
}

.images li:last-child {
    flex-grow: 10;
}

.images img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.images img:hover {
    position: relative;
    transform: scale(1);
    display: inline-block;
    border: solid 0.6em midnightblue;
}

.active {
    font-style: italic;
    color: red !important;
}

@media screen and (max-width: 1300px) {
    nav {
        flex: 0 0 27%;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
    }
}